MC_HOST=localhost
MC_PORT=25565
MC_USERNAME=Furi.ma #you can change it anything you want
MC_VERSION=1.21.4 

GROQ_MODEL=your_groq_model_name

GROQ_API_KEY=your_groq_api_key_1
GROQ_API_KEY_2=your_groq_api_key_2
GROQ_API_KEY_3=your_groq_api_key_3

# For Groq API Key please use different account for each one
# just to make sure that if one key is getting rate limit then 
# another key wouldn't also get the rate limit